/* font legened:
Thin: 100 200 300, Light: 400, Regular: 500, Bold: 700 800 */

@import url(../font-dia.css);

@import url(../font-haas.css);

@import url(../font-haas-text.css);

@import url(../font-kepler.css);

body {
  --color-primary: #181818;
  --color-secondary: #ffffff;
  --color-accent: #8db7de;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  transition: background-color 500ms linear;
}

.lightBody {
  background-color: var(--color-secondary) !important;
  color: var(--color-primary) !important;
}

#wrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid #181818;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.rounded {
  border-radius: 24px;
}

header {
  display: flex;
  align-items: center;
  width: calc(100% - 96px);
  padding: 0 48px;
  position: sticky;
  top: 0;
  z-index: 999;
}

header * {
  transform: translateY(-10px);
}

header div {
  transition: opacity 300ms linear 0s;
}

.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  transform: rotate(90deg) scale(0.6) translateY(0.8em) translateX(-1em);
  opacity: 0;
  transition: opacity 300ms linear 0s;
}

.logoText {
  width: 80px;
  height: 30px;
  transform: translateY(-10px) translateX(-60px);
  background-image: url(../images/kido.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.logoText a {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: none;
  background-color: transparent;
}

a.roundButton {
  text-decoration: none !important;
}

.invertHeader,
.logoDiv {
  filter: invert(100%);
  mix-blend-mode: difference;
}

.center-flex {
  justify-content: center;
  align-items: center;
}

.roundButton {
  background-color: #181818;
  color: #E7E7E7;
  border: 2px solid #181818;
  outline: none;
  border-radius: 999px;
  font-family: 'haas';
  font-size: 2.7em;
  font-weight: 400;
  padding: 4px 28px;
  padding-bottom: 0;
  white-space: nowrap;
  cursor: pointer;
  transition: opacity 300ms linear 0s, all 300ms linear 0s;
}

header .roundButton {
  margin-top: 14px;
}

.roundButton:hover {
  background-color: #E7E7E7;
  color: #181818;
}

.invertButton {
  font-size: 1.2em;
  padding: 4px 16px;
  padding-bottom: 1px;
  font-weight: 500;
  background-color: #E7E7E7;
  color: #181818;
}

.invertButton:hover {
  background-color: #181818;
  color: #E7E7E7;
}

.linksDiv {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  height: 100%;
  padding-top: 36px;
}

.linksDiv a {
  position: relative;
  font-family: 'haas';
  font-size: 1.2em;
  font-weight: 500;
  color: #1C1C1C;
  text-decoration: none;
  height: 100%;
}

.linksDiv a:hover {
  color: #888888;
}

.absolute {
  position: absolute;
  top: 2px;
  width: calc(100% - 44px);
}

.hideMe {
  visibility: hidden;
}

.logo {
  width: 42.4%;
  letter-spacing: 1px;
}

.mobile-only {
  display: none;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  letter-spacing: 1px;
}

.k-symbol {
  width: 60px;
  height: 60px;
  background-image: url(../images/new-k.gif);
  background-size: cover;
  cursor: pointer;
  margin-right: 8px;
  transition: all 500ms linear;
}

.lightBody .k-symbol {
  background-image: url(../images/new-k-invert.gif);
}

section {
  position: relative;
  margin: 14px;
  scroll-snap-align: center;
}

.flex-box {
  display: flex;
}

.flex-content {
  display: flex;
  margin-bottom: 12vw;
  width: 86%;
}

.flex-content .details {
  min-width: 27%;
  margin-left: 9%;
}

.content p {
  margin: 0;
}

.pl-14 {
  padding: 0 !important;
  padding-left: 14px !important;
}

.big-contnet .content {
  font-size: 36px;
  line-height: 1.3;
}

.big-contnet .titles {
  display: flex;
}

.titles h3 {
  width: 42.4%;
}

h3 {
  font-weight: 400;
  font-size: 26px;
}

.weight-500 {
  font-weight: 500;
}

.titles h3 {
  width: 42.4%;
}

h3 {
  font-weight: 400;
  font-size: 26px;
}

.weight-500 {
  font-weight: 500;
}

.details {
  padding: 0 14px;
}

.details .content {
  letter-spacing: 0.02em;
  font-size: 16px;
  justify-content: space-between;
}

.content .detail-child:first-of-type {
  letter-spacing: 0.02em;
  font-size: 16px;
  margin: 40px 0;
}

.content .detail-child {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

.no-border {
  border: none;
}

.width-child {
  width: 42% !important;
  margin-right: 16%;
}

.margin-horizontal {
  margin-right: 6%;
  margin-left: 6%;
}

.size-24 {
  font-size: 24px;
  line-height: 1.5;
}

.top-16 {
  margin-top: 16px;
}

.vertical-120 {
  margin-top: 120px;
  margin-bottom: 120px;
  float: right;
}

video {
  width: 100%;
}

.align-center {
  align-items: center;
}

.dia {
  font-family: 'diatype', sans-serif;
}

.haas {
  font-family: 'haas', sans-serif;
}

.haasText {
  font-family: 'haas-text', sans-serif;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.poster-video {
  position: absolute;
  width: 17.4vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.caret-blink {
  position: absolute;
  top: 50.7%;
  right: 42%;
  width: 0.75%;
  height: 4.5%;
  background-color: var(--color-accent);
  animation: blinkAnim 1000ms steps(1) infinite;
}

@keyframes blinkAnim {
  0% {
    opacity: 1;
  }
  
  60% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.mobile-elements {
  background-color: #F2F2F2;
  margin-top: 40px;
  width: 100%;
  aspect-ratio: 16 / 8;
  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.half-width-14 {
  width: calc(50% - 7px);
}

.gap-14 {
  gap: 14px;
}

.mobile {
  position: relative;
  width: 20vw;
  height: 40vw;
  background-image: url(images/mobile-1-min.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 2vw;
  animation: mobileIn 1000ms ease-out forwards;
  animation-delay: 200ms;
  transform: translateY(200%);
}

.mobile:nth-of-type(2) {
  background-image: url(images/mobile-2-min.png);
  animation-delay: 0ms;
}

.mobile:nth-of-type(3) {
  background-image: url(images/mobile-3-min.png);
  animation-delay: 400ms;
}

.anim-out .mobile {
  animation-name: none;
}

@keyframes mobileIn {
  0% {
    transform: translateY(200%);
  }
  
  100% {
    transform: translateY(0);
  }
}

@keyframes mobileOut {
  0% {
    transform: translateY(0);
  }
  
  100% {
    transform: translateY(200%);
  }
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.quote div {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  max-width: 900px;
}

.big-quote {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3;
}

.quote-by {
  letter-spacing: 0.02em;
  font-size: 16px;
  margin: 24px 0;
}

#white-wrapper {
  padding-top: 80px;
}

.min-height {
  min-height: 80vh;
}

.pt-none {
  padding-top: 0;
  margin-top: 0;
}

.footerDiv {
  font-family: 'haas-text';
  font-weight: 600;
  font-size: 0.8em;
  justify-content: space-between;
  margin-left: 3vw;
  margin-right: 50%;
  width: calc(50% - 4vw);
}

.footerDiv a {
  color: #1C1C1C;
  text-decoration: none;
}

.footerDiv a:hover {
  color: #888888;
}

.whiteSection {
  background-color: #FFFFFF;
  color: #000000;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin: 0;
}

.whiteSection .invertButton {
  background-color: #FFFFFF;
  ;
}

.whiteSection .invertButton:hover {
  background-color: #000000;
  color: #FFFFFF;
  ;
}

.whiteSection .kido {
  padding: 0;
  margin-bottom: 0;
  margin-top: 120px;
}

.whiteSection h3 {
  margin-top: 120px;
  margin-bottom: 8px;
  font-size: 2.5em;
  font-weight: 400;
  font-family: 'haas';
  line-height: 1.25;
  letter-spacing: 0.02em;
}

h3.sm {
  font-size: 1.48em;
}

.columnDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.justify {
  justify-content: space-between;
  gap: unset !important;
}

.no-gap {
  gap: 0;
}

.kido {
  transform-origin: bottom center;
  color: #FFFFFF;
  mix-blend-mode: difference;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  height: 30vw;
  filter: invert(100%);
}

.kido path {
  transition: fill 300ms linear 0s;
}

.biggerKido {
  width: 96%;
  height: 18vw;
  background-image: url(../images/wearekido.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.rowDiv {
  display: flex;
  gap: 48px;
  margin-top: 4px;
  min-height: 0;
}

.footerDiv {
  font-family: 'haas-text';
  font-weight: 600;
  font-size: 0.8em;
  justify-content: space-between;
  margin-left: 9vw;
  margin-right: 6vw;
}

.no-padding {
  padding: 0 3%;
  width: 94%;
  transform: translateX(-1.5em);
}

.footerHR {
  width: calc(100% - 6vw);
  margin-top: 4em;
  margin-left: 3.2vw;
}

.footerDiv a {
  color: #1C1C1C;
  text-decoration: none;
}

.footerDiv a:hover {
  color: #888888;
}

.footerLinks {
  display: flex;
  gap: 1em;
}

.footerLinks a {
  font-family: 'haas';
  font-weight: 400;
  font-size: 1.5em;
}

.footerLinks .left-align {
  font-family: 'haas';
  font-weight: 400;
  font-size: 1.5em;
}

.footerLinks .left-align a {
  font-size: 1.7em;
}

.whiteSection .kido {
  margin-bottom: 60px !important;
}

.visually-hidden {
  visibility: hidden;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

/* external big screen */
@media screen and (min-width:1800px) {
  div.footerLinks {
    justify-content: center;
    gap: 8em;
  }
}

/* mobile */
@media screen and (max-width:900px) {
  #mainHeader .roundButton {
    display: none;
  }
  
  header {
    width: calc(100% - 20px);
    padding: 0 10px;
  }
  
  .linksDiv a {
    font-size: 0.8em;
  }
  
  .absolute .links {
    opacity: 0;
    pointer-events: none;
  }
  
  .video-content {
    width: calc(100% - 28px);
  }
  
  .flex-content {
    flex-direction: column-reverse;
    width: 100%;
  }
  
  #wrapper {
    scroll-snap-type: none;
  }
  
  .big-contnet .content {
    font-size: 26px;
  }
  
  .content .detail-child,
  .content .detail-child:first-of-type {
    font-size: 16px;
  }
  
  .flex-content .details {
    margin-left: 0;
    padding: 0;
  }
  
  .flex-content .details .content .detail-child:first-of-type::after {
    content: ":";
  }
  
  .half-width-14 {
    width: 100%;
  }
  
  .content span {
    float: left;
    clear: both;
    width: 100%;
  }
  
  .content span:last-of-type {
    margin-bottom: 32px;
  }
  
  .content p {
    float: left;
    width: fit-content;
  }
  
  .content p::after {
    content: ",";
    margin-right: 8px;
  }
  
  .content p:last-of-type::after {
    content: '';
  }
  
  .content .detail-child:first-of-type {
    margin-bottom: 0;
  }
  
  .alert-video {
    width: 19vw;
    top: 40%;
    left: 56.8%;
  }
  
  .width-child {
    width: 100% !important;
  }
  
  .size-24 {
    font-size: 17px;
  }
  
  .details {
    padding: 0;
  }
  
  .vertical-120 {
    margin-bottom: 80px;
  }
  
  .more-gap {
    flex-direction: column-reverse;
  }
  
  .more-gap .half-width {
    width: 100%;
  }
  
  .more-gap:has(video[src="videos/colors.mp4"]) {
    flex-direction: column;
  }
  
  .quote div {
    font-size: 20px;
    padding: 0 32px;
    width: calc(100% - 64px);
  }
  
  .full-mobile {
    margin: 0;
  }
  
  .full-mobile:has(video[src="videos/graph.mp4"]) {
    margin-top: 60px !important;
  }
  
  .quote-by {
    letter-spacing: 0.02em;
    font-size: 16px !important;
  }
  
  .height-90 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .more-gap:has(video[src="videos/graph-icons.mp4"]) {
    flex-direction: column;
  }
  
  .video-content:has(video[src="videos/train.mp4"]) {
    width: 100%;
    margin: 0;
  }
  
  .vertical-120 {
    float: none;
  }
  
  .sticky {
    position: relative;
    top: 2px;
  }
  
  .mobile-only {
    display: block;
  }
  
  .desktop-only {
    display: none;
  }
  
  .mobile-flex {
    display: flex;
    flex-direction: row !important;
    width: 100%;
    gap: 14px;
  }
  
  .mobile-flex video {
    width: calc(50% - 7px) !important;
  }
  
  .top-40 {
    margin-top: 40px;
  }
  
  .mobile-column {
    flex-direction: column;
  }
  
  video.half-width {
    width: 100%;
  }
  
  .pl-14 {
    padding: 0 !important;
  }
  
  section:has(video[src="videos/posters.mp4"]) {
    margin-top: 56px;
  }
  
  .mobile-elements {
    aspect-ratio: 16 / 12;
  }
  
  .mobile {
    margin: 0 4vw;
  }
  
  .footerDiv {
    gap: 0;
    width: 90%;
    margin: 0 !important;
    flex-direction: row;
  }
  
  .footerDiv {
    gap: 0;
    width: 90%;
    margin: 0 !important;
    flex-direction: column;
  }
  
  .no-padding {
    transform: none;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .footerLinks .left-align {
    width: 100%;
    margin-top: 40px;
  }
  
  .footerLinks .left-align a {
    font-size: 1.5em;
  }
  
  .whiteSection h3.align-center {
    text-align: center;
  }
  
  @keyframes mobileIn {
    0% {
      transform: scale(1.3) translateY(200%);
    }
    
    100% {
      transform: scale(1.3) translateY(0);
    }
  }
  
  @keyframes mobileOut {
    0% {
      transform: scale(1.3) translateY(0);
    }
    
    100% {
      transform: scale(1.3) translateY(200%);
    }
  }
}