@import 'color-pallette.scss';
/* Mode 1 */
/* color */
$alerts-danger-01: $red-500;
$alerts-danger-02: $red-200;
$alerts-danger-03: $red-100;
$alerts-info-01: $blue-400;
$alerts-info-02: $blue-200;
$alerts-info-03: $blue-50;
$alerts-pending-01: $gray-400;
$alerts-pending-02: $gray-300;
$alerts-pending-03: $gray-200;
$alerts-success-01: $green-500;
$alerts-success-02: $green-300;
$alerts-success-03: $green-100;
$alerts-warning-01: $yellow-600;
$alerts-warning-02: $yellow-400;
$alerts-warning-03: $yellow-100;
$bg-states-disabled: $gray-100;
$bg-states-hover: $blue-50;
$bg-states-inverse-disabled: $dark-transparent-20p;
$bg-states-inverse-hover: $light-transparent-40p;
$bg-states-inverse-pressed: $dark-transparent-5p;
$bg-states-pressed: $blue-100;
$bg-static-01: $gray-white;
$bg-static-02: $gray-100;
$bg-static-03: $blue-100;
$bg-static-04: $blue-500;
$bg-static-05: $gray-400;
$bg-static-inverse-01: $blue-700;
$bg-static-inverse-02: $blue-750;
$bg-static-inverse-03: $blue-900;
$bg-static-marketing: $sand-sand;
$border-states-active: $blue-500;
$border-states-disabled: $dark-transparent-10p;
$border-states-focused: $blue-150;
$border-states-hover: $dark-transparent-30p;
$border-states-pressed: $dark-transparent-40p;
$border-static-01: $gray-200;
$border-static-02: $gray-150;
$border-static-03: $blue-150;
$fg-states-active: $blue-500;
$fg-states-disabled: $dark-transparent-30p;
$fg-states-hover: $light-transparent-40p;
$fg-states-inverse-disabled: $light-transparent-20p;
$fg-states-pressed: $dark-transparent-20p;
$fg-static-01: $gray-800;
$fg-static-02: $gray-600;
$fg-static-03: $gray-500;
$fg-static-04: $blue-500;
$fg-static-05: $blue-700;
$fg-static-inverse-01: $gray-white;
$fg-static-inverse-02: $light-transparent-80p;
$fg-static-inverse-03: $light-transparent-60p;