/* font legened:
This: 100 200 300, Light: 400, Regular: 500, Bold: 700 800 */

@import url(font-dia.css);
@import url(font-haas.css);
@import url(font-haas-text.css);
@import url(font-avenir.css);
@import url(font-kepler.css);

p {
    font-size: 2em;
}

h1 {
    font-family: sans-serif;
    font-size: 2.5em;
    color: lightgray;
}

.dia {
    font-family: 'diatype', sans-serif;
}

.haas {
    font-family: 'haas', sans-serif;
}

.haasText {
    font-family: 'haas-text', sans-serif;
}

.avenir {
    font-family: 'avenir', sans-serif;
}

.kepler {
    font-family: 'kepler', sans-serif;
}

.weight-100 {
    font-weight: 100;
}

.weight-200 {
    font-weight: 200;
}

.weight-300 {
    font-weight: 300;
}

.weight-400 {
    font-weight: 400;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

.weight-800 {
    font-weight: 800;
}

p::before {
    color: lightgray;
}

.weight-100::before {
    content: '100 ';
}

.weight-200::before {
    content: '200 ';
}

.weight-300::before {
    content: '300 ';
}

.weight-400::before {
    content: '400 ';
}

.weight-500::before {
    content: '500 ';
}

.weight-600::before {
    content: '600 ';
}

.weight-700::before {
    content: '700 ';
}

.weight-800::before {
    content: '800 ';
}