@import url(../font-huben.css);

body{
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.wrapper{
    position: absolute;
    max-height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22vw;
    font-family: 'huben', sans-serif;
    font-weight: 500;
    letter-spacing: -0.9vw;
    overflow: hidden;
    backface-visibility: hidden;
    perspective: 1000;
    aspect-ratio: 16 / 9;
    user-select: none;
    transform: translateX(-50%);
    overflow: hidden;
    box-shadow: 10vw 0 #181818, -10vw 0 #181818;
}
.triWrapper{
    flex-direction: row;
}
.darkDiv{
    background-color: #181818;
    flex-grow: 1;
    height: 100%;
}
.i-text{
    letter-spacing: -0.5vw !important;
}
.o-text{
    margin-left: -0.1vw;
}
.textWrapper{
    transform: translate(-50%, -10%);
    overflow: visible !important;
}
video, img{
    height: 100%;
    max-height: 100%;
}
#wrapperLogo{
    color: transparent;
}
#triImg{
    border-bottom: 0.4vw solid white;
}
#kFont, #iFont, #dFont, #oFont{
    --shadowX: 1px;
    --shadowY: 1px;
    --shadowFade: 4px;
    --shadowColor: 234, 248, 255;
    
    text-shadow: calc(var(--shadowX) * -1) calc(var(--shadowY) * 1) calc(var(--shadowFade) * 1) rgba(var(--shadowColor), 100%), calc(var(--shadowX) * -2) calc(var(--shadowY) * 2) calc(var(--shadowFade) * 2) rgba(var(--shadowColor), 100%), calc(var(--shadowX) * -2) calc(var(--shadowY) * 4) calc(var(--shadowFade) * 4) rgba(var(--shadowColor), 80%), calc(var(--shadowX) * -3) calc(var(--shadowY) * 6) calc(var(--shadowFade) * 7) rgba(var(--shadowColor), 60%), calc(var(--shadowX) * -4) calc(var(--shadowY) * 8) calc(var(--shadowFade) * 10) rgba(var(--shadowColor), 40%);
}

@media screen and (max-width: 1200px) {
    .wrapper{
        font-size: 23vw;
        letter-spacing: -1vw;
    }
    .i-text{
        letter-spacing: 0 !important;
    }
    .o-text{
        margin-left: 0;
    }
    #triImg{
        border-bottom: 0.5vh solid white;
    }
}