#wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    /* perspective: 60vw; */
    perspective: 2000vw;
    overflow: hidden;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0) translateZ(0);
}
.logoDiv{
    position: absolute;
    width: 90vw;
    height: 45vw;
    display: flex;
    flex-direction: column;
}
.logoDiv::before{
    content: '';
    position: relative;
    background-image: url(kido-hero.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 96vw;
    /* background-color: red; */
    /* height: 18vw; */
    animation: blurAnim 4000ms linear infinite;
    animation-delay: -1100ms;
    /* should be 38vw */
}
@keyframes blurAnim {
    0%{height: 38vw;}
    100%{height: 0vw;}
}
@keyframes blurAnimLittle {
    0%{height: 0vw; background-image: url(kido-blur.svg); transform: translate(0,0);}
    80%{height: 30vw; background-image: url(kido-blur.svg); transform: translate(0,0);}
    100%{height: 38vw; background-image: url(kido-hero.svg); transform: translate(0,0.5vw);}
}

.logoDiv::after{
    content: '';
    position: relative;
    background-image: url(kido-blur.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 96vw;
    filter:blur(4px);
    /* background-color: pink; */
    /* height: 18vw; */
    animation: blurAnimLittle 4000ms linear infinite;
    /* flex-grow: 1; */
    animation-delay: -1100ms;
}
.triDiv{
    position: absolute;
    overflow: hidden;
    opacity: 1;
    width: 93.8vw;
    height: 56vw;
    margin-top: 12vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top: 5px solid white;
    /* backdrop-filter: blur(4px); */
    transform-origin: 20% 84%;
    animation: triAnim 6000ms linear infinite;
    /* backface-visibility: hidden;
    perspective: 1000;
    will-change: contents; */
}
.triDiv .borderDiv{
    position: relative;
    width: 67vw;
    height: 67vw;
    transform: translateY(-23vw) rotate(45deg);
    /* background-color: pink; */
    border: 5px solid white;
    box-sizing: border-box;
}
@keyframes triAnim {
    0%{transform: scaleY(0) translate3d(0,0,0) translateZ(0); opacity: 1; z-index: 8;}
    20%{transform: scaleY(0.25) translate3d(0,0,0) translateZ(0); opacity: 1; z-index: 6;}
    40%{transform: scaleY(0.5) translate3d(0,0,0) translateZ(0); opacity: 1; z-index: 4;}
    60%{transform: scaleY(0.75) translate3d(0,0,0) translateZ(0); opacity: 1; z-index: 2;}
    80%{transform: scaleY(1) translate3d(0,0,0) translateZ(0); opacity: 1; z-index: 1;}
    100%{transform: scaleY(0.9) translate3d(0,0,0) translateZ(0); opacity: 0; z-index: -1;}
    
}
.triDiv:nth-of-type(2){
    animation-delay: -1000ms !important;
}
.triDiv:nth-of-type(3){
    animation-delay: -2000ms !important;
}
.triDiv:nth-of-type(4){
    animation-delay: -3000ms !important;
}
.triDiv:nth-of-type(4){
    animation-delay: -4000ms !important;
}
.bottomDiv{
    position: absolute;
    width: 93.8vw;
    height: 50vw;
    /* margin-top: 1vw; */
    border-bottom: 5px solid white;
    z-index: 999;
}